<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/base/export.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="../assets/css/layouts/layout.css">
    <title>Card Component</title>
</head>
<body>
    <!-- Card komponenti burada göstəriləcək -->
    <card-component 
        media-type="video"
        src="https://www.w3schools.com/html/mov_bbb.mp4"
        label="Java"
        title="Vüsal Ataşov"
        description="Back-End Developer at ABB"
        icon="https://media.istockphoto.com/id/1388414773/vector/play-button.jpg?s=2048x2048&w=is&k=20&c=2x0pnP8072JM7iKQBv3AQSCb4yGyVMxSQ61Pvk6Tn5s="
        media-style='{"min-height":"382px"}'
        style-config='{
            "background": "#fff",
            "border": "1px solid #D9D9DB",
            "padding": "6%",
            "borderRadius": "16px"
        }'>
    </card-component>
<br><br><br><br>



    <card-component 
    media-type="img"
    src="../assets/images/Instructors-img.png"
   class="inter-style-18-125-medium black-dark"
    title="Lətif Kərim"
    description="Designer at SAFAROFF"
    linkedin-url="https://www.linkedin.com/in/your-profile"
    style-config='{
        "background": "#fff",
        "border": "1px solid #D9D9DB",
        "padding": "6%",
        "borderRadius": "16px"
    }'>
</card-component>
<br><br><br><br>



<card-component 
media-type="video"
src="https://www.w3schools.com/html/mov_bbb.mp4"
media-style='{"min-height":"382px"}'
title="Vüsal Ataşov"
description="Back-End Developer at ABB"
behance-url="https://www.behance.net/your-profile"
linkedin-url="https://www.linkedin.com/in/your-profile" 
icon="https://media.istockphoto.com/id/1388414773/vector/play-button.jpg?s=612x612&w=0&k=20&c=qXvGW4mRXJe4zJOXi3g0Onzsxq28iu96IHyKFYyfI8s="

style-config='{
    "background": "#fff",
    "border": "1px solid #D9D9DB",
    "padding": "6%",
    "borderRadius": "16px"
   
}'>
</card-component>
   <script src="../assets/js/components/cardComponent.js"></script>
</body>
</html>
