@import url(../base/export.css);

header {
  /* background: linear-gradient(rgba(255, 255, 255, 0.24)
    rgba(255, 255, 255, 0)); */

  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 0;
}

.navigation-bar .nav-list {
  display: none;
  gap: 30px;
}

.navigation-bar .nav-list .nav-item {
  color: var(--Blue-UltraDark, #080d20);

  /* Inter/Style-16/100%/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
}

.nav-list .dropdown {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-list .dropdown img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.cta-btn-nav button {
  display: none;
  height: 48px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Blue-Light, #2ba6eb);
  color: var(--White-Solid, #fff);
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  line-height: var(--line-height-100);
  font-weight: var(--font-weight-medium);
}
/* *res-menu */
.responsive-menu {
  display: none;
  padding-top: 24px;
}
.open-btn-nav {
  display: none;
}
.logo-close-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.res-navbar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.responsive-menu .res-navbar .nav-item {
  color: var(--Blue-UltraDark, #080d20);

  /* Inter/Style-16/100%/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
}

.responsive-menu .res-cta button {
  width: 100%;
  display: flex;
  height: 48px;
  padding: var(--spacing-xl, 16px) 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 100px;
  background: var(--Blue-Light, #2ba6eb);
  margin: 32px 0;
}
.responsive-menu .res-cta a {
  color: var(--White-Solid, #fff);
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  line-height: var(--line-height-100);
  font-weight: var(--font-weight-medium);
}


/** scholarship  */

#scholarship {
    overflow: hidden;
    margin: 10% 0;
   
  }
  #scholarship h3 {
    color: var(--Black-Dark, #171716);
  
    /* Plus Jakarta Sans/Style-48/120%/Medium */
    font-family: "Plus Jakarta Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 57.6px */
    padding-bottom: 32px;
  }
  
  #scholarship .begin-study-container {
    display: flex;
    padding: var(--spacing-xs, 4px);
    align-items: center;
    gap: var(--spacing-md, 8px);
    border-radius: var(--spacing-md, 8px);
    border: 1px solid var(--White-Medium, #d9d9db);
    background: var(--White-Light-50, rgba(255, 255, 255, 0.5));
    margin-bottom: 24px;
    width: fit-content;
  }
  #scholarship .begin-study-container .special {
    display: flex;
    height: 36px;
    padding: var(--spacing-md, 8px) var(--spacing-lg, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md, 8px);
    border-radius: var(--spacing-sm, 6px);
    border: 1px solid var(--White-Medium, #d9d9db);
    background: var(--White-Solid, #fff);
  }
  #scholarship .begin-study-container .special a {
    color: var(--Blue-LightMedium, #344054);
  
    /* Inter/Style-16/!00%/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
  }
  
  #scholarship .begin-study-container .fundamental a {
    color: var(--White-UltraDark, #67686e);
  
    /* Inter/Style-14/100%/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
  }
  
  /* card */
  #scholarship .study-item {
    display: flex;
  
    padding: var(--spacing-xl, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2xl, 20px);
    border-radius: 16px;
    border: 1px solid var(--White-Medium, #d9d9db);
    background: var(--White-Solid, #fff);
  }
  #scholarship .study-item .scholarship-img-container {
    width: 100%;
  }
  #scholarship .study-item .scholarship-img-container img {
    width: 100%;
  }
  .scholarship-content-container .course {
    display: flex;
    padding: var(--spacing-sm, 6px) 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--White-Medium, #d9d9db);
    background: var(--White-UltraLight, #f8f9fa);
    width: 8%;
    margin-bottom: 10px;
  }
  .study-item:hover .course {
    width: 20%;
  }
  .scholarship-content-container .course p.lesson {
    color: var(--Black-Dark, #171716);
  
    /* Inter/Style-14/100%/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    opacity: 0.7;
  }
  .scholarship-content-container .course-content h5 {
    color: var(--Black-Dark, #171716);
  
    /* Inter/Style-18/125%/Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 22.5px */
  }
  .scholarship-content-container .course-content p {
    color: var(--Black-Dark, #171716);
  
    /* Inter/Style-12/150%/Regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    opacity: 0.8;
  }
  .scholarship-content-container .scholarship-btn-groups {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-xl, 16px);
    align-self: stretch;
    padding-top: 32px;
  }
  .scholarship-content-container .scholarship-btn-groups .learn-more {
    display: flex;
    padding: var(--spacing-xl, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg, 12px);
    flex: 1 0 0;
    border-radius: 100px;
    border: 1px solid var(--White-Medium, #d9d9db);
    background: var(--White-Solid, #fff);
  
  
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  .scholarship-content-container .scholarship-btn-groups .learn-more a {
    color: var(--Blue-LightMedium, #344054);
  
    /* Inter/Style-14/100%/Semi Bold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
  }
  
  .scholarship-content-container .scholarship-btn-groups .apply-now {
    display: flex;
    padding: var(--spacing-xl, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg, 12px);
    flex: 1 0 0;
    border-radius: 100px;
    background: var(--Blue-Light, #2ba6eb);
  
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  .scholarship-content-container .scholarship-btn-groups .apply-now a {
    color: var(--White-Solid, #fff);
  
    /* Inter/Style-14/100%/Semi Bold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
  }
  
  .scholarship-content-container .course-content p.info-study {
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .study-item .scholarship-btn-groups {
    display: none;
  
  }
  
  .study-item:hover .scholarship-btn-groups {
    display: flex;
  }
  
  .study-item .course-content p {
    transition: all 0.7s ;
  
  }
  
  .study-item:hover .course-content p {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    width: 100%;
  }
  
  .study-item .scholarship-img-container img {
    transition: all 0.7s ;
  
  }
  
  .study-item:hover .scholarship-img-container img {
    transform: scale(0.4) translate(-80%, -80%);
  }
  
  .study-item .scholarship-content-container {
    transition: all .7s;
   
  }
  
  .study-item:hover .scholarship-content-container {
    transform: translate(0, -200%);
    height: 75px;
  }
  
  
  
  .mt-24px {
    margin-top: 24px;
  }
  .pr-16px {
  padding-right: 16px;
  }
  