<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing Academy</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-blue-900 text-white">
    <!-- Navbar -->
    <section id="turing-advantage" class="w-[100%] py-[5vw] px-[5%] bg-[#080d20]">
        <div id="turing-advantage-header-and-see-all-container" class="w-[100%] flex flex-nowrap">
            <div id="advantage-header" class="w-[50%] flex flex-wrap justify-between items-center">
                <div id="advantage-main-header">
                    <h2 class="inter-medium text-[14px] text-[#A2A2A2]">TURING ADVANTAGE</h2>
                </div>
                <div id="advantage-subheader" class="w-100%">
                    <h3 class="plus-jakarta-sans-medium text-white rp-font">
                        <span class="text-[#2BA6EB]">Turing Academy</span> offers a fun
                        & accessible learning experience.
                    </h3>
                </div>
            </div>
            <div id="advantage-see-all" class="w-[50%] flex justify-end items-center">
                <custom-button type="url" href="#" style-config="color: #FFFFFF;"
                    class="border border-[#4A5567] px-[32px] py-[16px] rounded-[100px] pageNotFoundPopup"
                    data-popup="qxwsc">Apply
                    Now</custom-button>
            </div>

        </div>

        <div id="turing-advantages-container" class="w-100% bg-white h-[100vh] px-[5%]">
        </div>
    </section>
</body>

</html>
