<div class="relative" style="
"><button id="dropdownBtn" class="navigation-element flex items-center focus:outline-none justify-center" style="
">Fields of Study<span class="flex justify-center items-center ml-1 h-4 w-4"><img id="dropdownImg"
                src="../statics/img/core/icons/up-arrow.svg" alt="Dropdown Icon" class="h-full w-full"></span></button>
    <div id="dropdownMenu" class="absolute w-[100vw] left-0 h-[50%] shadow-lg z-40 bg-[#080d20] py-6">
        <div class="flex justify-between flex-wrap gap-4"><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc"
                href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc" href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc" href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc" href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc" href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc" href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc" href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc" href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc" href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc" href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc" href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a><a class="w-[20%] pageNotFoundPopup" data-popup="qxwsc" href="#">
                <div
                    class="w-[100%] backdrop-blur-md bg-[#0D1224] p-4 rounded-lg outline outline-[1px] outline-[#344054]">
                    <h3 class="inter-medium text-[18px] text-[#ffffff] mb-2 leading-tight">UX/UI Design</h3>
                    <p class="inter-regular text-[12px] text-[#ffffff] leading-normal">Design Intuitive Digital
                        Experiences</p>
                </div>
            </a></div>
    </div>
</div>